@inherits LayoutComponentBase

<nav class="nav">
    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">New</NavLink>
    <NavLink class="nav-link" href="all">All</NavLink>
    <NavLink class="nav-link" href="paged">Paged</NavLink>
    <NavLink class="nav-link" href="settings">Settings</NavLink>
</nav>

<main class="content">
    @Body
</main>
